body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('backgroundimg.png') center/cover no-repeat;
    color: #333;
}

header, main, footer {
    text-align: center;
    margin: 20px;
}

h1, h2{
    color: #0066cc;
    transition: color 0.3s ease-in-out;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

P{
    color: #ff0000;
    transition: color 0.3s ease-in-out;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1:hover, h2:hover{
    color: #004080;
}

p:hover{
color: antiquewhite;
}

img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.intro {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.intro:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.facts, .nutrition {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo img {
    width: 80px;
    transition: transform 0.3s ease-in-out;
}

.footer-logo img:hover {
    transform: rotate(360deg);
}

.footer-info {
    max-width: 300px;
}

.quick-contact-form {
    max-width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #004080;
}
